.footer {
  width: 100vw;
  height: auto;
  box-shadow: -2px -2px 5px #0000001a;
  display: flex;
  margin-top: 3.66vw;
}

.area_1 {
  height: 33.821vw;
  width: 15.666vw;
  margin-left: 2.343vw;
  margin-top: 2.489vw;
}

.area_1 img {
  width: 25.842vw;
  object-fit: cover;
  margin-top: 0.146vw;
  cursor: pointer;
  height: 30.893vw;
}
.area_1 a {
  text-decoration: none;
}
.area_2 {
  width: 40.63vw;
  height: auto;
  margin-top: 2.489vw;
  margin-left: 16.398vw;
}
.box_one_area_2 {
  height: 18.96vw;
  width: 13.543vw;
}
.outer_area_boxes {
  display: flex;
  justify-content: space-between;
}
.box_one_area_2 p {
  width: 8.053vw;
  height: 1.537vw;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  font-weight: 600;
  margin-top: 0;
  color: #1d1d1d;
}
.box_one_area_2 ul {
  list-style-type: none;
  margin-top: 2.343vw;
  height: 15.081vw;
  padding-left: 0;
}
.box_one_area_2 ul li {
  margin-left: 0;animation-timing-function: linear;
  cursor: pointer;
  padding-bottom: 1.171vw;
  text-align: left;
  font: normal normal normal 0.878vw/1.464vw Poppins;
  color: #9d9d9d;
}
.box_one_area_2 ul li:hover {
  padding-left: 0.732vw;
  color: #3d3d3d;
}
.second_box_profile {
  height: 5.417vw;
  width: 40.63vw;
  margin-top: 3.514vw;
}
.second_box_profile p {
  width: 4.1vw;
  height: 1.537vw;
  margin-top: 0;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  font-weight: 600;
  color: #1d1d1d;
}
.second_box_profile ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: -0.732vw;
  height: 2.928vw;
}
.second_box_profile ul li {
  padding-right: 1.464vw;
  width: auto;
  cursor: pointer;animation-timing-function: linear;
  height: 1.537vw;
  font: normal normal normal 0.878vw/1.464vw Poppins;
  padding-top: 1.464vw;
  color: #9d9d9d;
  cursor: pointer;
}
.second_box_profile ul li:hover {
  padding-top: 0.732vw;
  color: #3d3d3d;
}
.copyright {
  margin-top: 4.905vw;
  text-align: center;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  color: #9d9d9d;
}
#copyrighticon {
  color: #9d9d9d;
}
.area_3 {
  height: auto;
  width: 16.837vw;
  margin-top: 2.489vw;
  margin-left: 4.685vw;
}
.followUs {
  margin-top: 3.294vw;
}
.followUs p {
  width: auto;
  height: 1.537vw;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  font-weight: 600;
  margin-bottom: 0;
  color: #1d1d1d;
}
.social ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 0;
}
.social ul li {
  padding: 0.512vw;
  height: 6vw;
  width: 4.5vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}
.social ul li img{
  width: 100%;
  height: 100%;
}
.paymentmethod {
  width: auto;
  height: auto;
}
.paymentmethod p {
  margin: 0;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  font-weight: 600;
  color: #1d1d1d;
}
.paymentmethod ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}
.paymentmethod ul li {
  height: 2.928vw;
  width: 2.928vw;
  cursor: pointer;
}
.paymentmethod ul li img {
  width: 100%;
  height: 100%;
}
/* @media (max-width: 768px){
  .box_one_area_2 ul li{
    font: normal normal normal 0.978vw/1.464vw Poppins;
  }
  .box_one_area_2 p {
    font: normal normal normal 0.95vw/1.464vw Poppins;
    font-weight: bold;
  }
  .second_box_profile p {
    font: normal normal normal 0.95vw/1.464vw Poppins;
    font-weight: bold;
  }
  .second_box_profile ul li{
    font: normal normal normal 0.978vw/1.464vw Poppins;
  }
  .copyright{
    font: normal normal normal 1.1vw/1.464vw Poppins;
  }
}
@media (max-width: 425px){
  .box_one_area_2 ul li{
    font: normal normal normal 1vw/1.464vw Poppins;
  }
  .box_one_area_2 p {
    font: normal normal normal 1.1vw/1.464vw Poppins;
    font-weight: bold;
  }
  .second_box_profile p {
    font: normal normal normal 1.1vw/1.464vw Poppins;
    font-weight: bold;
  }
  .second_box_profile ul li{
    font: normal normal normal 1vw/1.464vw Poppins;
  }
  .copyright{
    font: normal normal normal 1.2vw/1.464vw Poppins;
  }
  .paymentmethod p {
    font: normal normal normal 1.1vw/1.464vw Poppins;
    font-weight: bold;
  }
  .followUs p {
    font: normal normal normal 1.1vw/1.464vw Poppins;
    font-weight: bold;
  }
} */