.video_container {
  width: 1347px;
  height: 31.7vw;
}
.video_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Free_box {
  width: 1088px;
  height: 77px;
  border: 1px solid #dddddd;
  margin-top: 16px;
  margin-left: 139px;
  display: flex;
}
.Free_Shipping {
  width: 242px;
  height: 45px;
  margin-left: 32px;
  margin-top: 16px;
  display: flex;
}
.Free_return {
  width: 236px;
  height: 45px;
  margin-left: 27px;
  margin-top: 16px;
  display: flex;
}
.Secure_payment {
  width: 250px;
  height: 45px;
  margin-left: 27.5px;
  margin-top: 16px;
  display: flex;
}
.Support {
  width: 228px;
  height: 45px;
  margin-left: 26.5px;
  margin-top: 16px;
  display: flex;
}
#shipping_Icon {
  width: 45px;
  height: 36px;
  margin-top: 4.5px;
}
.shipping_text {
  display: grid;
  width: 183px;
  height: 45px;
  margin-left: 16px;
  grid-template-rows: 21px 24px;
}
.shipping_text1 {
  width: 173px;
  height: 21px;
  font: normal normal 600 15px/23px Poppins;
  color: #5d5d5d;
  margin-top: 0;
}
.shipping_text2 {
  width: 183px;
  height: 17px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #9d9d9d;
  margin-top: 7px;
}
.new_Arrivals {
  width: 1270.5px;
  height: 35px;
  margin-left: 32px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 132px 711px 355px 75px;
}
.new_Arrival_text {
  width: 132px;
  height: 28px;
  font: italic normal bold 20px/30px Poppins;
  color: #3d3d3d;
  margin-top: 0%;
}
#line_1 {
  margin-left: 21px;
  height: 0;
  margin-top: 15px;
  width: 690px;
  border: 1px solid #dddddd;
}
.list_names {
  height: 35px;
  width: 320px;
  margin-left: 35px;
}
.list_names ul {
  list-style-type: none;
  display: flex;
  margin-left: -37px;
  margin-top: 0;
}
.list_names ul li {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #bdbdbd;
  text-align: center;
  cursor: pointer;
}
.list_names ul li:hover {
  color: #3d3d3d;
}
.list_names ul li:visited {
  color: #3d3d3d;
}
#arrow_box {
  width: 43px;
  height: 10px;
  margin-left: 25px;
  margin-top: 5px;
}
#Arrow_forward {
  color: #5d5d5d;
  margin-left: 0px;
  font-size: 10px;
  cursor: pointer;
}
#Arrow_backward {
  color: #5d5d5d;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer;
}
.new_arrival_box {
  width: 1301px;
  height: auto;
  margin-left: 33px;
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product_details_list {
  margin-left: -2px;
  margin-top: 20px;
  width: 276px;
  height: 405px;
  display: grid;
  grid-template-rows: 278px 129px;
  position: relative;
}
.product_details_list:hover {
  width: 276px;
  height: 435px;
  grid-template-rows: 278px 46px 158px;
}
.image_box {
  width: 276px;
  height: 278px;
}
.image_box img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: relative;
}
.discount {
  padding-left: 5px;
  position: absolute;
  top: 0;
  width: 57px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: normal;
  background-color: #ffee00;
  font-family: "Poppins";
}
.add_to_cart_box {
  height: 32px;
  width: 276px;
  margin-top: 10px;
  display: none;
}
.product_details_list:hover .add_to_cart_box {
  display: block;
}
.product_details {
  width: 253px;
  margin-left: 12px;
  margin-top: 21px;
  height: 106px;
  display: grid;
  grid-template-rows: auto;
}
.product_details_list:hover .product_details {
  margin-top: 4px;
}
.add_to_cart_inner_box {
  height: 32px;
  width: 276px;
  cursor: pointer;
  display: flex;
}
.Compare_Icon {
  height: 32px;
  width: 36px;
  margin-left: 8px;
  cursor: pointer;
  margin-top: 0;
  color: #9d9d9d;
}
.add_to_cart_text_icon {
  width: 155px;
  height: 32px;
  margin-left: 21.5px;
  display: flex;
  background-color: #021fb2;
}
.add_to_cart_text_icon p {
  width: 93px;
  height: 20px;
  text-align: center;
  font: normal normal normal 15px/20px Segoe UI;
  color: #ffffff;
  margin-left: 18px;
}
.Fav_icon {
  width: 31px;
  height: 27px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 3px;
}

.category_name_product {
  margin-top: 0;
  height: 15px;
  width: 253px;
  text-align: center;
  text-decoration: underline #3d3d3d;
  font-family: "poppins";
  font-size: xx-small;
  color: #1d1d1d;
  margin-bottom: 0;
}
.name_details_each_product {
  width: 253px;
  height: auto;
  text-align: center;
  font-family: "Poppins";
  font-size: x-small;
  color: #1d1d1d;
  margin-bottom: 0;
  margin-top: 0px;
}
.price_of_product {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 21px;
  font-family: "poppins";
  margin-top: 0.1vw;

  text-align: center;
  justify-content: center;
}
.para_price_one {
  font-size: 12px;
  text-align: center;
  width: auto;
  margin-top: 8px;
  color: #9d9d9d;
  height: 8px;
  text-decoration: line-through;
}
.para_price_two {
  font-size: 14px;
  text-align: center;
  width: auto;
  margin-left: 10px;
  color: #f80000;
  font-weight: bold;
  margin-top: 0;
}
.most_view_box {
  width: 1270.5px;
  height: 35px;
  margin-left: 32px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 231px 990px 64px;
}
.most_viewd_text {
  width: 231px;
  height: 28px;
  font: italic normal bold 20px/30px Poppins;
  color: #3d3d3d;
  font-weight: bolder;
  margin-top: 0%;
}
#line_view {
  margin-left: 21px;
  height: 0;
  margin-top: 15px;
  width: 957px;
  border: 1px solid #dddddd;
}
.most_viewed_compare {
  width: 1255px;
  height: 415px;
  margin-top: 40px;
  margin-left: 38px;
  display: flex;
}
.image_box_second_one {
  width: 412px;
  height: 415px;
}
.image_box_second_one img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: relative;
}
.image_box_second_one p {
  padding-left: 5px;
  position: absolute;
  top: 0;
  width: 57px;
  height: 25px;
  margin-top: 132vw;
  margin-left: 10px;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: normal;
  background-color: #ffee00;
  font-family: "Poppins";
}
.image_box_second {
  margin-left: 32px;
  width: 412px;
  height: 415px;
}
.image_box_second img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: relative;
}
.image_box_second p {
  padding-left: 5px;
  position: absolute;
  top: 0;
  width: 57px;
  height: 25px;
  margin-top: 132vw;
  margin-left: 10px;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: normal;
  background-color: #ffee00;
  font-family: "Poppins";
}
.comparing_products_details {
  height: 415px;
  width: 367px;
  margin-left: 32px;
  display: grid;
  grid-template-rows: 21px 92px 29px 29px 36px 40px 30px 32px 40px;
}
.compare_product_details_cat {
  margin-top: 0;
  height: 21px;
  width: 367px;
  text-decoration: underline;
  font: normal normal normal 15px/23px Poppins;
  color: #3d3d3d;
}
.detail_of_product_comparing {
  margin-top: 16px;
  font: normal normal normal 20px/24px Poppins;
  color: #1d1d1d;
  width: 367px;
  height: 76px;
  font-weight: bolder;
}
.rating_product {
  width: 367px;
  height: 19px;
  margin-top: 10px;
  display: flex;
}
.star {
  width: 87px;
  height: 14px;
  margin-top: 0px;
  justify-content: space-between;
}
#star_feature {
  font-size: 17px;
  color: #e6ff00;
  cursor: pointer;
  margin-top: 3px;
}

.text_rating {
  width: 100px;
  font-weight: bold;
  height: 19px;
  font: normal normal normal 13px/25px Poppins;
  color: #1d1d1d;
  margin-top: 0;
  margin-left: 9px;
}

.mrp_text {
  margin-left: 51px;
  width: 30px;
  height: 19px;
  text-align: center;
  font: normal normal normal 13px/20px Poppins;
  color: #3d3d3d;
  margin-top: 0;
}
.price_of_the_product {
  margin-top: 0;
  text-align: center;
  text-decoration: line-through;
  font: normal normal normal 13px/20px Poppins;
  letter-spacing: 0px;
  color: #9d9d9d;
  margin-left: 16px;
  width: auto;
  height: 19px;
}
.price_box_discount {
  width: 367px;
  height: 28px;
  margin-top: 8px;
  display: flex;
}
.our_price_text {
  margin-top: 9px;
  margin-left: 17px;
  width: 63px;
  height: 19px;
  text-align: right;
  font: normal normal normal 13px/20px Poppins;
  color: #3d3d3d;
}
.price_of_the_product_after_discount {
   margin-top: -4px;;
  text-align: center;
  font: normal normal bold 20px/30px Poppins;
  color: #f80000;
  margin-left: 15px;
  width: auto;
  height: 28px;
}
.discount_box_in_compare {
  width: 367px;
  height: 28px;
  margin-top: 8px;
  display: flex;
}
.discount_text_product {
  margin-top: 8px;
  width: 60px;
  height: 19px;
  text-align: right;
  font: normal normal normal 13px/20px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  margin-left: 20px;
}
.how_much_discount {
  margin-top: 0;
    width: auto;
    height: 22px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font: normal normal normal 15px/23px Poppins;
    letter-spacing: 0px;
    color: #1d1d1d;
    font-weight: 600;
    margin-left: 13px;
    background-color: #ffee00;
}
.discount_amount {
  margin-left: 13px;
  margin-top: 0px;
  height: 19px;
  text-align: left;
  font: normal normal bold 13px/20px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  width: auto;
}
.save_box {
  width: 367px;
  height: 19px;
  margin-top: 8px;
  display: flex;
}
.save_text {
  margin-top: 0;
  margin-left: 17px;
  width: 63px;
  height: 19px;
  text-align: right;
  font: normal normal normal 13px/20px Poppins;
  color: #3d3d3d;
}
.delivery_text {
  width: 69px;
  height: 19px;
  text-align: right;
  font: normal normal normal 13px/20px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  margin-top: 0;
  margin-left: 11px;
}
.time_delivery {
  margin-left: 13px;
  margin-top: 0px;
  height: 19px;
  text-align: left;
  font: normal normal normal 13px/20px Poppins;
  color: #1d1d1d;
  width: auto;
}
.color_text {
  width: 39px;
  height: 17px;
  text-align: right;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  margin-left: 41px;
  margin-top: 0;
}
.dropdown_colors {
  margin-left: 13px;
  width: 76px;
  height: 19px;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  padding-left: 9px;
  color: #3d3d3d;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}
.buttons_compare {
  width: 367px;
  height: 40px;
  display: flex;
  margin-top: 0;
}
.cart_button {
  width: 155px;
  height: 40px;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  padding: -44px;
  margin-top: 0;
  padding-bottom: 36px;
  color: #ffffff;
  border: 0.1px solid white;
  outline: none;
  margin-left: 10px;
  background: #021fb2;
  cursor: pointer;
}
.compare_button {
  border: 2px solid #021fb2;
  width: 155px;
  margin-left: 25px;
  background: #ffffff;
  font: normal normal normal 15px/20px Segoe UI;
  color: #021fb2;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.view_details {
  width: 80px;
  height: 17px;
  text-decoration: underline;
  font: normal normal normal 12px/18px Poppins;
  color: #3d3d3d;
  cursor: pointer;
  margin-left: 12px;
}
.find_by_category_box {
  width: 1270.5px;
  height: 35px;
  margin-left: 32px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 177px 1092px;
}
#line_category {
  margin-left: 21px;
  height: 0;
  margin-top: 15px;
  width: 1069px;
  border: 1px solid #dddddd;
}
.offers {
  width: 509px;
  height: 21px;
  font: normal normal 200 15px/23px Poppins;
  margin-top: 0;
  color: #1d1d1d;
}
.category_box {
  width: 1238px;
  height: auto;
  margin-left: 64px;
  margin-top: 40px;
  display: grid;
  grid-template-rows: auto;
}
.category_names {
  width: 1238px;
  height: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.particular_cat {
  cursor: pointer;
  width: 200px;
  height: 38px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding-top: 7px;
  margin: 15px;
  text-align: center;
  font: normal normal normal 15px/23px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.particular_cat:hover {
  background: #08e5a9 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
}
.or {
  margin-left: 600px;
  width: 21px;
  height: 21px;
  font: normal normal 600 15px/23px Poppins;
  letter-spacing: 0px;
  color: #bdbdbd;
}
.category_Search {
  height: 38px;
  width: 585px;
  border: 0.1px solid #08e5a9;
  margin-top: 17px;
  margin-left: 350px;
  display: flex;
}
.Selected_brand {
  display: flex;
  margin-left: 24px;
}
.find_icon {
  display: flex;
  width: 68px;
  height: 38px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
  background: #08e5a9 0% 0% no-repeat padding-box;
}
.find_icon p {
  font: normal normal normal 12px/18px Poppins;
  margin-left: 1vw;
  color: #1d1d1d;
}
.advert_image {
  width: 1347px;
  margin-top: 19px;
}
.advert_image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.category_dash_outer_box {
  margin-left: 51px;
  margin-top: 19px;
  display: flex;
  width: 1269px;
  height: auto;
  justify-content: space-around;
}
.category_dash {
  width: 272px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.particular_category_choice {
  width: 272px;
  height: 28px;
  display: flex;
}
.particular_category_choice p {
  margin-top: 0;
  width: 164px;
  height: 28px;
  font: normal normal normal 20px/30px Poppins;
  font-weight: 600;
  color: #1d1d1d;
}
#line_for_particular_box_category {
  margin-left: 5px;
  height: 0;
  margin-top: 16px;
  width: 76px;
  border: 1px solid #dddddd;
}

#arrow_box_1 {
  width: 43px;
  height: 10px;
  margin-left: 8px;
  margin-top: 5px;
}
.clients_name {
  width: 1302px;
  height: 70px;
  border: 1px solid #bdbdbd;
  margin-top: 25px;
  margin-left: 32px;
  display: flex;
  justify-content: space-around;
}
.clients_name p {
  width: 42px;
  border-radius: 21px;
  height: 42px;
}
.client_icon {
  width: 53px;
  height: 51px;
  border-radius: 30px;
  margin-top: 7px;
}
.para_client {
  width: auto;
  height: 28px;
  text-align: left;
  font: normal normal 200 20px/30px Poppins;
  color: #3d3d3d;
  margin-left: 32px;
  margin-top: 18px;
}
.start_buying {
  margin-left: 567px;
  margin-top: 18px;
  width: 233px;
  height: 40px;
  background: #08e5a9;
  font: normal normal normal 14px/20px Poppins;
  color: #1d1d1d;
  outline: none;
  border: #08e5a9;
  cursor: pointer;
}
#Arrow_buying {
  margin-left: 14px;
  margin-top: 5px;
  font-size: 10px;
}
.start_buying:hover #Arrow_buying {
  margin-left: 32px;
}
.images_box {
  height: 593px;
  width: 1308px;
  margin-left: 32px;
  margin-top: 30px;
  display: flex;
}
.image_1_container {
  width: 628px;
  cursor: pointer;
  height: 593px;
  position: relative;
}

.image_1_container img {
  width: 100%;
  height: 100%;
}
.image_1_upper {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 628px;
  visibility: hidden;
  transition: 0.5s ease;
  height: 593px;
  background-color: #08e5a9;
  transition: opacity 0.1s, visibility 0.1s;
}
.image_1_container:hover .image_1_upper {
  visibility: visible;
}
.image1_para1 {
  margin-top: 53px;
  width: auto;
  font: normal normal normal 20px/30px Poppins;
  color: #1D1D1D;
  height: auto;
  margin-bottom: 0;
}
.image1_para2{
  width: auto;
  height: auto;
  font: normal normal normal 13px/20px Poppins;
  color: #1D1D1D;
  margin-top: 7px;
}
.image_1_client_image{
  width: 150px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 3px solid #1D1D1D;
  border-radius: 50%;
  margin-top: 32px;
}
.image_1_client_image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.image_1_para3{
  width: 484px;
  height: auto;
  font: normal normal 200 25px/38px Poppins;
  color: #1D1D1D;
  text-align: center;
  margin-top: 56px;
}
.images_3 {
  height: 187px;
  width: 444px;
  position: relative;
  cursor: pointer;
}
.images_3 img {
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.hover_item{
  position: absolute;
  width: 444px;
  height: 56px;
  display: flex;
  top: 131px;
  flex-direction: column;
  transition: opacity 0.1s, visibility 0.1s;
  align-items: center;
  background-color: #08e5a9;
  visibility: hidden;
}
.images_3:hover .hover_item{
  visibility: visible;
}
.image_3_outer_box{
  margin-left: 16px;
  width: 444px;
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_2 {
  width: 198px;
  height: 593px;
  margin-left: 18px;
  justify-content: space-between;
}
.image_2_1 {
  width: 198px;
  height: 284px;
  margin-top: 0;
}
.image_2_1 img {
  height: 100%;
  width: 100%;
}
.popular_categories {
  height: auto;
  width: 1268px;
  margin-left: 45px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.particular_popular_categories {
  width: 274px;
  margin: 10px;
  height: 470px;
}
.image_popular {
  width: 274px;
  height: 282px;
  margin-top: 0;
}
.image_popular img {
  height: 100%;
  width: 100%;
}
.name_popular_cat {
  width: 220px;
  height: 21px;
  font: normal normal normal 15px/23px Poppins;
  font-weight: 600;
  color: #1d1d1d;
  margin-top: 16px;
  margin-left: 15px;
}
.cat_details_pop {
  width: 220px;
  margin-left: 15px;
  height: 19px;
  font: normal normal normal 13px/20px Poppins;
  font-weight: 400;
  color: #5d5d5d;
  cursor: pointer;
}
.view_all {
  width: 259px;
  height: 19px;
  text-align: right;
  text-decoration: underline;
  font: normal normal normal 13px/20px Poppins;
  font-weight: 500;
  color: #3d3d3d;
  margin-top: -10px;
  cursor: pointer;
}
.slide_box{
  width: 1347px;

  height: 638px;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
}
.slider_box_one{
  width: 1347px;
  height: 319px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  cursor: pointer;
}
.slider_box_one img{
  height: 100%;
  cursor: pointer;
}
.slider_box_one:hover .slider_box_one img{
  left: -491px;
}
