#line_product {
  margin-left: 13px;
  height: 0;
  margin-top: 15px;
  width: 1099px;
  border: 1px solid #08e5a9;
}
.individualproduct_detail_outer_box {
  width: 1158px;
  height: auto;
  margin-left: 75px;
  margin-top: 40px;
  display: flex;
}
.similar_product_images {
  height: 410px;
  width: 74px;
  display: flex;
  flex-direction: column;
}
#upIconNew {
  margin-left: 28px;
  color: #bdbdbd;
  font-size: 20px;
  cursor: pointer;
}
.similar_image_three_image_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 74px;
  margin-top: 16px;
  height: 329px;
  justify-content: space-between;
}
.similar_particular_image {
  width: 74px;
  height: 88px;
}
.product_big_image_cart_compare {
  height: 456px;
  width: 382px;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
}
.big_image {
  width: 382px;
  height: 410px;
}
.details_of_individual_product_with_rating {
  height: auto;
  width: 641px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
.name_of_the_particular_product {
  margin: 0;
  width: 641px;
  font: normal normal normal 20px/25px Poppins;
  letter-spacing: 0px;
  font-weight: 600;
  height: auto;
  color: #1d1d1d;
}
.category_of_that_particular_product {
  width: 641px;
  height: auto;
  margin-top: 0.6vw;
  text-decoration: underline;
  font: normal normal normal 13px/20px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  margin-bottom: 0;
}
.product_individual_detail_line {
  width: 329px;
  margin-left: 0;
  margin-top: 14px;
  border: 1px solid #bdbdbd;
}
.details_box_margin {
  margin-left: 13px;
  margin-top: -5px;
}
.pay_via {
  width: 594px;
  margin-top: 5px;
  height: auto;
  margin-left: 45px;
  display: flex;
}
.logo2pay {
  width: 352px;
  height: 48px;
  margin-top: 0;
}
.logo2pay ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin-top: 0;
  width: auto;
}
.logo2pay ul li {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.logo2pay ul li img {
  width: 100%;
  height: 100%;
}
.review_main_with_specification {
  border: 1px solid #bdbdbd;
  width: 1238px;
  margin-left: 64px;
  margin-top: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.Heading_Name_for_reviewbox {
  width: 100%;
  height: 51px;
}
.Heading_Name_for_reviewbox ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font: normal normal normal 13px/20px Poppins;
  letter-spacing: 0px;
  color: #9d9d9d;
  width: 450px;
}
.Heading_Name_for_reviewbox ul li {
  cursor: pointer;
}
.Heading_Name_for_reviewbox ul li:hover {
  color: #3d3d3d;
}
.line_for_review_define_box {
  display: flex;
  width: auto;
  height: auto;
  margin-left: 28px;
}
.line01Box {
  width: 99px;
  border: 1px solid #5d5d5d;
  height: 0;
  margin: 0;
}
.line02Box {
  border: 1px solid #dbdde4;
  width: 1050px;
  height: 0;
  margin: 0;
}
.paradescription {
  width: 1184px;
  height: auto;
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.paradescription h6 {
  font: normal normal normal 13px/20px Poppins;
  color: #3d3d3d;
  height: auto;
  width: auto;
  margin: 0;
}
.paradescription p {
  font: normal normal normal 13px/20px Poppins;
    color: #7D7D7D;
    width: auto;
    height: auto;
    margin-top: 11px;
}