.Header_two {
    width: 1347px;
    height: 80px;
    border-bottom:  1px solid #707070;
    border-top:   1px solid #707070;
    display: flex;
  }
  .logo {
    width: 112px;
    height: 65px;
    margin-left: 32px;
    margin-top: 8px;
    border: 0.1px solid #08e5a9;
  }
  .nav {
    margin-left: 293px;
    margin-top: 31px;
    height: 17px;
  }
  .nav ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 0px;
  }
  .nav li {
    font: normal normal normal 12px/18px Poppins;
    color: #3d3d3d;
    font-weight: bold;
    display: inline-block;
    /* position: relative; */
    padding-bottom: 3px;
    padding-right: 32px;
    cursor: pointer;
  }
  
  .nav li::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background-color: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  .nav li:hover::after {
    width: 100%;
    background-color: #08e5a9;
  }
  .nav a {
    text-decoration: none;
  }
  .Header_two_part3 {
    width: 15.373vw;
    height: 2.782vw;
    display: grid;
    grid-template-rows: 1.318vw 1.464vw;
    margin-top: 1.684vw;
    margin-left: 12.445vw;
  }
  .mobile_part {
    display: flex;
    width: 15.373vw;
    height: 1.318vw;
  }
  .mobile_part p {
    width: 13.177vw;
    height: 1.318vw;
    text-align: right;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    letter-spacing: 0;
    margin: 0;
    color: #3d3d3d;
  }
  #phone {
    font-size: 1.3vw;
    margin-left: 0.4vw;color: #7D7D7D;
  }
  .email_part {
    display: flex;
    width: 15.373vw;
    height: 1.318vw;
  }
  .email_part p {
      width: 13.177vw;
      height: 1.318vw;
      text-align: right;
      font: normal normal normal 0.878vw/1.318vw Poppins;
      letter-spacing: 0;
      margin: 0;
      color: #3d3d3d;
    }
  #mail{
      font-size: 1.3vw;
      margin-left: 0.4vw;color: #7D7D7D;
  }