.Header_one {
  height: 4.392vw;
  width: 100vw;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  z-index: 1040;
  background-color: #ffffff;
}
.Header_one_left {
  width: 11.64vw;
  height: 1.318vw;
  margin-top: 21px;
  margin-left: 32px;
  cursor: pointer;
}
.Header_one_left:hover .dropdown_list {
  opacity: 1;
  visibility: visible;
}
.Selected {
  display: flex;
  width: auto;
}
#MenuIcon {
  font-size: 1.318vw;
  color: #08e5a9;
}
.Header_one_left p {
  width: auto;
  height: auto;
  margin-top: 0;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  margin-left: 0.842vw;
}
#ArrowIcon {
  font-size: 0.586vw;
  margin-left: 0.586vw;
  margin-top: 0.4vw;
}
.dropdown_list {
  border-radius: 8px;
  background-color: white;
  width: 11.64vw;
  cursor: pointer;
  position: relative;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  opacity: 0;
  margin-top: 1vw;
}
.dropdown_list_items {
  padding-left: 16px;
  padding-top: 20px;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  font-weight: bold;
  padding-bottom: 5px;
  justify-content: space-between;
  display: flex;
}
.ForwardArrow {
  padding-right: 5px;
  padding-top: 3px;
}
.Header_one_centre {
  height: 38px;
  width: 483px;
  margin-left: 251px;
  margin-top: 11px;
  display: flex;
}
.centre_first_part {
  width: 117px;
  height: 38px;
  border: 1px solid #08e5a9;
  cursor: pointer;
}
.centre_first_part p {
  font: normal normal normal 0.878vw/1.318vw Poppins;
  margin-left: 0.7vw;
  align-items: center;
}
#ArrowIcon1 {
  font-size: 0.586vw;
  margin-left: 0.586vw;
  margin-top: 1.2vw;
}
.centre_first_part:hover .dropdown_list_categories {
  opacity: 1;
  visibility: visible;
}
.Selected1 {
  display: flex;
}
.dropdown_list_categories {
  border-radius: 8px;
  background-color: white;
  width: 8.64vw;
  position: relative;
  cursor: pointer;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  opacity: 0;
  margin-top: 1vw;
  text-align: center;
}
.centre_second_part {
  border: 1px solid #08e5a9;
  height: 38px;
  width: 283px;
}
.centre_second_part input {
  margin-top: 9px;
  margin-left: 6px;
  width: 19vw;
  border: none;
  height: 1.5vw;
  outline: none;
  font: normal normal normal 12px/18px Poppins;
}
.centre_second_part input::placeholder {
  color: #bdbdbd;
}
.centre_third_part {
  width: 83px;
  display: flex;
  cursor: pointer;
  height: 40px;
  box-shadow: 0px 3px 6px #00000029;
  background: #08e5a9 0% 0% no-repeat padding-box;
}
.centre_third_part p {
  font: normal normal normal 12px/18px Poppins;
  margin-left: 1vw;
}
#search {
  font-size: 1vw;
  margin-top: 1vw;
  margin-left: 0.2vw;
}
.Header_one_right {
  width: auto;
  height: 23px;
  margin-top: 18px;
  margin-left: 165px;
  display: flex;
}
.Favorites {
  display: flex;
  width: 90px;
  height: 23px;
  cursor: pointer;
}
.Favorites p {
  margin-top: 3px;
  margin-left: 5px;
  font: normal normal normal 12px/18px Poppins;
}
#Heart {
  font-size: 1.7vw;
  color: #f80000;
  position: absolute;
}
#count {
  background-color: #08e5a9;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  text-align: center;
  position: relative;
  margin-left: 1vw;
  padding-top: 0;
  font: normal normal normal 12px/14.5px Poppins;
}
.cart {
  display: flex;
  width: 90px;
  height: 23px;
  margin-left: 2vw;
  margin-top: 0.2vw;
  cursor: pointer;
}
#Cart {
  font-size: 1.5vw;
  position: absolute;
}
.cart p {
  margin-left: 0.5vw;
  margin-top: 0.3vw;
  font: normal normal normal 12px/14.5px Poppins;
}
